<div class="row">
  <div class="col-12 u-align--center">
    <h1>Signup</h1>
  </div>
  <form method="post" class="signup-form" id="signup-form">
    <div class="col-12">
      <label for="login-email">Email address</label>
      <input name="email" id="login-email" type="email" />
    </div>
    <div class="col-12">
      <label for="login-password">Password</label>
      <input id="login-password" name="password" type="password" />
    </div>

    <div class="col-12 u-align--center">
      <button class="p-button" type="submit">Submit</button>
    </div>
  </form>
</div>