<div class="row">
  <div class="col-12 center">
    <h3>Signup</h3>
  </div>
  <form method="post" id="signup-form" onSubmit="javascript:window.validateForm.signup">
    <div class="col-12">
      <label for="login-email">Email address</label>
      <input name="email" id="login-email" type="email" />
    </div>
    <div class="col-12">
      <label for="login-password">Password</label>
      <input id="login-password" name="password" type="password" />
    </div>

    <div class="col-12">
      <button class="p-button" type="submit">Login</button>
    </div>
  </form>
</div>