<div class="row">
  <div class="col-12 u-align--center">
    <h1>Signup</h1>
  </div>
  <form method="post" class="signup-form" id="signup-form">
    <div class="row">
      <div class="col-2 col-small-12">
        <label class="label-form" for="email">Email address</label>
      </div>
      <div class="col-10 col-small-12">
        <input name="email" id="email" type="email" />
      </div>
    </div>

    <div class="row">
      <div class="col-2 col-small-12">
        <label class="label-form" for="password">Password</label>
      </div>
      <div class="col-10 col-small-12">
        <input id="password" name="password" type="password" />
      </div>
    </div>

    <div class="row">
      <div class="col-2 col-small-12">
        <label class="label-form" for="repeatpassword">Confirm Password</label>
      </div>
      <div class="col-10 col-small-12">
        <input id="repeatpassword" name="repeatpassword" type="password" />
      </div>
    </div>

    <div class="row">
        <div class="success" id="signup-success-msg"></div>
      </div>

    <div class="row">
      <div class="error" id="signup-err-msg"></div>
    </div>

    <div class="col-12 u-align--center">
      <button class="p-button" type="submit">Submit</button>
    </div>
  </form>
</div>